header {
  background: #fff;
  border-bottom: solid;
  border-bottom-width: 100%;
  border-color: #cccccc;
  height: 77px;
  width: 100%;
}

nav {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
  size: 18pt;
  float: right;
  padding-top: 30px;
  margin-right: 100px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  padding: 0px 25px 0px 25px;
  border-right: 1px solid #dddddd;
}

li:last-child {
  border-right: none;
}

a:link {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
  text-decoration: none;
}
a:visited {
  color: #4aaaa5;
}
a :hover {
  color: #ffce6e;
}
h1 {
  font-family: "Georgia", Times, Times New Roman, serif;
  font-size: 36pt;
  padding: 20px;
}
body {
  background: #dddddd;
  background: url(../images/fishnets-and-hearts.png);
  margin: 0px;
}
span {
  background: #fff;
  color: #4aaaa5;
  font-size: 18pt;
}
main {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #4aaaa5;
  width: 960px;

  background: #ffffff;
  padding: 10px 50px 50px 50px;
  border-bottom: solid;
  border-color: #4aaaa5;
  border-radius: 30px;
  margin: 50px 200px 100px 200px;
}
p {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
  font-size: 14pt;
}

button {
  border-radius: 12px;
  padding: 10px 22px;
  background-color: white;
  color: #4aaaa5;
  font-size: 14pt;
  margin: 0px 5px;
}
button:hover {
  color: #ffce6e;
}
#images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding-top: 20px;
}

.rows {
  grid-column: 2;
  grid-row: 4;
}
img {
  width: 273px;
  padding: 20px 20px 20px 3px;
}
